<h1 class="text-center"><%= @restaurant.name %></h1>

<h3 class="text-center">Data</h3>
<p><strong>Category: </strong><%= @restaurant.category %></p>
<p><strong>Address: </strong><%= @restaurant.address %></p>
<p><strong>Phone Number: </strong><%= @restaurant.phone_number %></p>

<h2>Reviews</h2>
<ul>
  <li><% @restaurant.reviews.each do |review| %>
    <%= review.content %> (<%= review.rating %> stars)
  <% end %></li>
</ul>
<p><strong>Reviews: </strong><%= @restaurant.phone_number %></p>

<%= link_to '< Back', restaurants_path %>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
